#resa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choixTypeResa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#choixTypeResa input{    
    margin-bottom: 25px;
}

.choix{
    margin: 20px 30px;
}

.choixDate{
    display: flex;
    flex-direction: column;
}

.blocDatepicker{
    margin: 60px;
}
