@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

/* nav button{
    margin-right: 20px;
    padding: 15px;
    border-radius: 7%;
    background-color:  #009FB7;
    
}

nav button a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(255, 255, 255);
} */

section {
    align-items: flex-start;
    display: flex;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.calendar {
    background: rgba(232, 247, 253, 0.973);
    border-radius: 4px;
    color: #222629;
    overflow: hidden;
    margin-top: 20px;
    width: 80%;
    height: 660px;
}

.calendar .header {
    background: #ddd;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.calendar .month {
    display: inline-block;
    font-weight: bold;
}

.calendar button {
    background: none;
    color: inherit;
    cursor: pointer;
    font-family: Consolas;
    font-size: 23px;
    font-weight: bold;
    height: 100%;
    padding: 0 15px;
}

.calendar button:hover {
    color: #009FB7;
}

.calendar button:first-child {
    float: left;
}

.calendar button:last-child {
    float: right;
}

.calendar .cell {
    background: rgba(232, 247, 253, 0.973);
    color: #5d5d5d;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: calc(100% / 7);
    height: 100px;
}

.calendar .day {
    font-size: .8rem;
    padding: 8px 0;
}

.calendar .day,
.calendar .today {
    background: #009FB7;
    color: #fff;
}

.calendar .day{
    height: 40px;
}